@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    font-family: "Outfit", sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}


body{
    font-size: 16px;
    background-color: hsl(47, 88%, 63%);
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
    padding: 17px;
    width: 320px;
    box-shadow: 7px 7px 3px rgba(0, 0, 0, 100);
    border: 1px solid black;
    

}

.tag{
    background-color: hsl(47, 88%, 63%);
    padding: 3px 8px;
    border-radius: 3px;
    margin: 15px 0px;
    font-weight: 700;
}

.date{
    margin-bottom: 15px;
    font-weight: 500;
    font-size: small;
    color: hsl(0, 0%, 7%);
}

.subject{
    font-weight: 800;
    font-size: larger;
    margin-bottom: 15px;
}

.description{
    color: hsl(0, 0%, 42%);
    margin-bottom: 15px;
    font-weight: 500;
    font-size: smaller;
}

.profile{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.profile-img img{
    width: 30px;
}

.profile-name{
    font-weight: 800;
    font-size: 14px;
    padding: 5px;
    margin-left: 5px;
}

.banner img{
    width: 100%;
    border-radius: 10px;
}
footer{
    margin-top: 10px;
}

@media only screen and (max-width: 320px) {
    .container{
        width: 280px;
    }
}